.App {
  text-align: center;
  background-image: url("./components/purple2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(85, 26, 139);
}

.link {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #030923;
}

.container{
  display: inline;
}
.btn{
  color:#999;
  display: inline;
  background:white;
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background: white;
  background:#D5C5E9;
  padding:20px 20px;
  color:#030923;
  border-radius: 18%;
}